- content_for :header do
  %h1
    -if @media.title
      ="Play " + @media.title
    -else
      ="Play Song"
- if @media == nil
  .content="none"
- else
  = render :partial => "view/jplayer", :locals => { :media => @media }