%h1= "GBits Media Manger"
.homeContent
  Select your Option
  %p
    .manageButton
      %a="Manage Your Library"
    .pickMediaButton
      %a="Play Music or Video"
    .adminButton
      %a="Admin Options"
