.songInfoLine{:id => ["songInfoLine_" + song.id.to_s]}
  .mediaTitle
    %a{:href => "/view/song/" + song.id.to_s}= song.title
  .trackNumber
    !=display_nillable(song.tracknumber)
  .length
    !=display_nillable(song.length)
  .albumName
    !=display_nillable(song.album)
  .artistName
    !=display_nillable(song.artist)
  .playCount
    !=display_nillable(song.playcount)
  .mediaRating
    !=display_nillable(song.rating)
  .listItemActions
    .editLink{:id => ["editLink_" + song.id.to_s]}="edit"
.songEditSection{:id => ["songEditSection_" + song.id.to_s]}
  %input{:type => "submit", :value => "Save"}