%h1="Listing songs"

= render :partial => "shared/searchList", :locals => { :formAction => 'index', :formController => 'songs', :searchFields => Song.searchFields, :partialView => 'songs/listView'}

= link_to 'New Song', new_song_path
