- content_for :header do
  %h1="Songs"

- if @songs
  = render :partial => "songs/song_upload_form", :locals => { :heading_message => 'Upload another song', :secondary_message => 'Upload more songs to build up your library' }
  = render :partial => "shared/searchList", :locals => { :formAction => 'index', :formController => 'songs', :searchFields => Song.searchFields, :partialView => 'songs/listView'}
- else
  = render :partial => "songs/song_upload_form", :locals => { :heading_message => 'You have no songs available yet', :secondary_message => 'Please upload a song to get started' }
  
