$entryColor: #adc1d6

.songListView
  border-style: solid
  border-width: 2px
  border-top-width: 1px
  width: 1112px
  padding-bottom: 19px

.listCell
  background-color: inherit
  border-right-style: dotted
  border-right-width: 1px
  border-top-style: solid
  border-top-width: 1px
  border-color: black
  float: left
  text-align: right

.mediaTitle
  @extend .listCell
  padding-right: 5px
  width: 295px

.trackNumber
  @extend .listCell
  padding-right: 5px
  width: 50px
  text-align: center

.length
  @extend .listCell
  padding-right: 5px
  width: 45px

.albumName
  @extend .listCell
  padding-right: 5px
  width: 295px

.artistName
  @extend .listCell
  padding-right: 5px
  width: 195px

.playCount
  @extend .listCell
  padding-right: 5px
  width: 45px

.mediaRating
  @extend .listCell
  padding-right: 5px
  width: 45px

.listItemActions
  @extend .listCell
  border-right-style: none
  border-right-width: 0px
  float: left
  padding-right: 5px
  width: 95px

.editLink
  color: #666666
  text-decoration: underline
  width: 35px

.editLink:hover
  color: #eeeeee
  cursor: pointer

.listHeaderSection
  background-color: #006295
  color: #cccccc

.songInfoLine
  clear: left
  background-color: $entryColor

.songInfoLine:hover
  background-color: darken($entryColor, 9%)

.songEditSection
  display: none
  margin-top: 20px

.songListView .current 
  padding-right: 12px
  background-repeat: no-repeat
  background-position: right center

.songListView .asc 
  background-image: url(shared/up_arrow.gif)

.songListView .desc 
  background-image: url(shared/down_arrow.gif)
