.topbar
  .fill
    .container
      = render "layouts/navlinks"
      %ul.nav.secondary-nav
        = render "layouts/authentication"

-flash.each do |name, msg|
  = content_tag :div, msg, :id => "flash_#{name}", :class => "alert-message " + name.to_s
